<a href="https://colab.research.google.com/github/andreventura02/Data_science/blob/master/Grupo_Recovery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#QUESTÃO 1
df

   CLIENTE CONTRATO SALDO DA DÍVIDA  DIAS EM ATRASO  UF  IDADE
0        A       C1         500,00            1.161  SP   25.0
1        H       C2       1.500,00            1.507  SP   66.0
2        H       C3         234,00            2.272  SP   66.0
3        A       C4         350,00            1.808  SP   25.0
4        C       C5      10.450,00            5.295  BA   45.0
..     ...      ...             ...             ...  ..    ...
56       B      C57       3.789,00            1.875  MG   30.0
57       E      C58      26.000,00            3.894  AP   60.0
58       B      C59       2.348,00            2.599  MG   30.0
59       H      C60         800,00          582.000  SP   66.0
60     NaN      NaN     400.659,57              NaN  SP    NaN

[61 rows x 6 columns]

In [ ]:
#QUESTÃO 2
E 15 H 13 C 10 F 8 B 6 A 5 D 2 G 1

In [ ]:
#QUESTÃO 3
clientes

  CLIENTE  TOTAL DIVIDA  MEDIA DE ATRASO
0       A      19810.75             1768
1       B      35721.21             1697
2       C      63975.09             1794
3       D       7479.11              784
4       E     103532.17             1586
5       F      59704.21             1854
6       G      12071.46             3177
7       H      98365.56             1683

In [ ]:
#QUESTAO 4
- 1732.67
- 130247.76
- 1697.92

In [ ]:
#QUESTAO 5
- 56735.883
- 14.16%
- 13526.813